@import url('../../fonts.css');

.wrapper{
    flex: 0 0 auto;
    margin-right: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    font-family: 'PoppinsSemiBold';
    color:rgba(222, 221, 221, 1);
    text-shadow: 1px 1px 1px #000;
    border-radius: 8px;
}

.container{
    padding: 10px;
    position: relative;
}

.time{
    margin: 0 0 15px;
    font-size: 18px;
}

.precipitation{
    position: absolute;
    top: 35px;
    left: 25px;
}

.img{
    height: 51px;
    margin-bottom: 10px;
}

.temperature{
    font-size: 18px;
}