@import url('../../../fonts.css');

.title{
    display: inline-block;
    margin: 0 0 10px;
    color: rgba(222, 221, 221, 1);
    text-shadow: 1px 1px 1px #000;
    font-family: 'PoppinsSemiBold';
    font-size: 12px;
}

.hourlyWeather{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}