@import url('../../fonts.css');

.parameter{
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    font-family: 'PoppinsSemiBold';
}

.value{
    font-size: 14px;
}

.title{
    font-size: 12px;
}