@import '../../../fonts.css';


.container{
    margin: 20px 0 20px 0;
    position: relative;
}

.row{
    display: flex;
    justify-content: space-between;
}

.button–°hoiceCity{
    color: rgb(104, 101, 165);
}

.settingsImg{
    width: 20px;
    height: 20px;
}

.buttonReboot{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(104, 101, 165);
}

.searchImg{
    width: 20px;
    height: 20px;
}

.city{
    font-family: 'PoppinsRegular';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: -1;
}

