@import url('../../../fonts.css');

.wrapper{
    margin: 0 auto;
    width: 176px;
}

.weatherParameters{
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: 'PoppinsSemiBold';
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000;
}

.temperature{
    margin: 0 0 6px;
    text-align: center;
    font-family: 'PoppinsSemiBold';
    font-size: 81px;
    line-height: 81px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 1px #000;
}

.degree{
    font-family: 'PoppinsRegular';
}

.imgWeatherContainer{
    text-align: center;
}

.imgWeather{
    width: 64px;
    height: 64px;
}
.cloudyWeather{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}