@import url('../../../fonts.css');

.wrapper{
    margin: 0 auto 19px;
    width: 176px;
}

.weatherParameters{
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: 'PoppinsSemiBold';
    color: rgba(222, 221, 221, 1);
}

.temperature{
    margin: 0 0 6px;
    text-align: center;
    font-family: 'PoppinsSemiBold';
    font-size: 81px;
    color: rgba(255, 255, 255, 1);
}

.degree{
    font-family: 'PoppinsRegular';
}

.imgWeatherContainer{
    text-align: center;
}

.imgWeather{
    width: 150px;
    height: 150px;
}